/*
Source - https://stackoverflow.com/a/74618135
Posted by A Haworth
Retrieved 2026-08-17, License - CC BY-SA 4.0
*/

body {
  margin: 0;
}

.scroll {
  height:100px;
  position: relative;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.m-scroll {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollText 20s infinite linear;
  margin: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

span {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: white;
}

img { 
  margin-right:20px;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
